.course-container{
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #d1d4d7;
}

.course-item{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #d1d4d7;
    margin: 0.25rem;
}

@media (min-width:700px) {
    .course-item{
        flex-basis: calc(33.33% - 1rem);
    }
}

.card-head{
    height: 7rem;
    background-image: url('/image/avata.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.course-name{
    line-height: 1.5;

}

.course-progress{
    color: #a5a5a5;
}

